@model MyGardenWEB.Data.Promotion

@{
    ViewData["Title"] = "Delete";
}

<h1>Изтриване</h1>

<h3>Сигурни ли сте, че искате да изтриете промоцията?</h3>
<div>
    <h4>Промоция</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <label>Продукт</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Products.Id)
        </dd>
        <dt class = "col-sm-2">
            <label>Промоция</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromotionPercent)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтриване" class="btn btn-danger" /> |
        <a asp-action="Index">Връщане назад</a>
    </form>
</div>
